---
import type { CollectionEntry } from 'astro:content';
import { formatPhone } from '~/lib/helpers';
import MobileMenu from './MobileMenu';
import ButtonLink from './common/ButtonLink';
import Container from './common/Container.astro';
import Logo from './common/Logo.astro';

export interface Props {
  variant: 'dark' | 'light';
  contacts: CollectionEntry<'companies'>['data']['contacts'];
}

const currentUrl = Astro.url.pathname;
const { variant = 'dark', contacts } = Astro.props;
const { name, shortName, phones } = contacts;
const phone = phones?.[0];
---

<header
  class:list={[
    'absolute inset-x-0 top-0 z-50 border-b border-neutral backdrop-blur',
    {
      'text-white': variant === 'dark',
      'text-neutral-dark': variant === 'light',
    },
  ]}
>
  <Container
    class="flex h-16 items-center justify-between gap-8 lg:h-20"
    left="sm"
    right="sm"
  >
    <Logo class="relative z-50 mr-auto uppercase" href="/">
      <span class="sm:hidden">{shortName}</span>
      <span class="hidden sm:inline">{name}</span>
    </Logo>
    {
      phone && (
        <a class="text-xl-500 hidden sm:block" href={`tel:${phones?.[0]}`}>
          {formatPhone(phone)}
        </a>
      )
    }
    <ButtonLink class="hidden lg:block" variant="tetriary" href="/contacts">
      Зв'язатися з нами
    </ButtonLink>
    <MobileMenu
      client:only="preact"
      class="ml-8"
      variant={variant}
      currentUrl={currentUrl}
    />
  </Container>
</header>
