---
import { formatPhone } from '~/lib/helpers/formatPhone';
import type { Company } from '~/types';
import MobileMenu from './MobileMenu.astro';
import ButtonLink from './common/ButtonLink';
import Container from './common/Container.astro';
import Logo from './common/Logo.astro';

interface Props {
  variant: 'dark' | 'light';
}

const { variant = 'dark' } = Astro.props;
const [company] = await Astro.glob<Company>('/src/content/company.md');
const { name, shortName, phones } = company.frontmatter.contacts;
---

<header
  class:list={[
    'absolute inset-x-0 top-0 z-50 border-b border-neutral backdrop-blur',
    {
      'text-white': variant === 'dark',
      'text-neutral-dark': variant === 'light',
    },
  ]}
>
  <Container
    class="flex h-16 items-center justify-between gap-8 lg:h-20"
    left="sm"
    right="sm"
  >
    <Logo class="relative z-50 mr-auto uppercase" href="/">
      <span class="sm:hidden">{shortName}</span>
      <span class="hidden sm:inline">{name}</span>
    </Logo>
    <a class="hidden text-xl-500 sm:block" href={`tel:${phones?.[0]}`}
      >{formatPhone(phones?.[0])}</a
    >
    <ButtonLink class="hidden lg:block" variant="tetriary" href="/contacts">
      Зв'язатися з нами
    </ButtonLink>
    <MobileMenu class="ml-8" variant={variant} />
  </Container>
</header>
